@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Rubik", sans-serif;
  background-color: rgb(7, 7, 7);
  line-height: 1.4;
}

.main-container {
  margin: 10px;
}

.user-details {
  background: linear-gradient(90deg, #d53369 0%, #daae51 100%);
  padding: 1rem;
  border-radius: 1rem;
  text-align: center;
  margin: 0.5rem;
  color: #fff;
  display: flex;
  flex-direction: column;
}

.user-details hr {
  align-self: center;
  min-width: 60%;
  text-align: center;
}

.user-details .name {
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
}

.user-photos {
  width: 100%;
  display: flex;
  overflow-x: auto;
  /* border: 2px solid red; */
}

.user-photos img {
  width: 30%;
  height: 30%;
  margin: 1%;
  border-radius: 1rem;
  border: 2px solid rgb(116, 106, 106);
}

.post {
  border-radius: 1rem;
  background: linear-gradient(90deg, #3f2b96 0%, #7a98e4 100%);
  margin: 5px;
  padding: 1rem;
  color: #fff;
}

.post p {
  font-size: 1.2rem;
  margin: 5px 0;
  font-style: italic;
  text-align: left;
}

@media screen and (min-width: 480px) {
  .user-details {
    font-size: 1.5rem;
  }

  .user-details .name {
    font-size: 2rem;
  }

  .user-posts {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 1025px) {
  .user-photos img {
    width: 18%;
    height: 18%;
  }

  .user-posts .post {
    margin: 2rem;
  }

  .user-posts p {
    font-size: 2rem;
  }
}
